= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  = f.label :email, class: 'control-label'
  = f.email_field :email, autofocus: true, class: 'form-control'
  = f.label :password, class: 'control-label'
  = f.password_field :password, autocomplete: "off", class: 'form-control'
  %br
  %br
  = f.submit "Log in", class: 'black'
