/ Static navbar
%nav.navbar.navbar-default.navbar-static-top{ class: "#{(current_user and current_user.rueschman?) ? 'rueschman' : 'gray' }" }
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'TOONder', root_path, class: 'navbar-brand dinosaur toonder-red'
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav
      %ul.nav.navbar-nav.navbar-right
        - if current_user
          %li= link_to 'Logout', destroy_user_session_path, :method => :delete
        - else
          %li= link_to 'Login', new_user_session_path
          %li= link_to 'Signup', new_user_registration_path
