!!!
%html
%head
  %title CartoonSwiper
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags

%body{ class: "#{(current_user and current_user.rueschman?) ? 'rueschman' : 'hearts' }"}

= render partial: 'layouts/top_navigation'

.container-fluid.centered
  = yield

